*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --main-color: #FF900E;
}
.container{
    width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0px 20px 20px;
}
.main-color{
    color: var(--main-color);
}
@media only screen and (max-width: 720px) {
    .container{
        width: 100%;
        max-width: 100%;
        margin: 0px auto;
         padding: 0px;

    }
.header{
        padding: 0px 20px ;
    }
}

/*header section start here*/
.header{
    background-color: #FFF4E7;
}
.header-section{
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
    width:300px;
}
.nav{
    display: flex;
}
.nav li{
    list-style: none;
}
.nav-items{
    margin-right: 40px;
}

@media only screen and (max-width: 720px) {
    .nav{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width:150px;
    }
}
/* header section end here  */


/* banner section end here  */
.banner-section{
    margin-top: 116px;
    text-align: center;
    padding-bottom: 20px;
}
.banner-section h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 40px;
}
.banner-section p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
}
.explore-button{
    padding: 20px 25px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.banner-img{
    margin-top: 40px;
    width: 100%;

}
/* banner section end here  */


/* main section start here  */

/* Quick list of Our Features section start here */
.quick-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 60px;
    padding: 0px 20px;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 5px;
}
.quick-list-img img{
    width: 100%;
}
@media only screen and (max-width: 720px){
.quick-list{
    grid-template-columns: repeat(1, 1fr);

}
.quick-list-img{
    grid-template-columns: repeat(1 ,1fr);
    gap: 5px;
}
.quick-list-info{
    text-align: center;
    margin-top: 20px;
}
.quick-list-info p{
    margin: 25px 0px;
}}
/* Quick list of Our Features section end here */

/* Features section start here */

.features-section{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.features-section-info{
    padding-right: 130px;
}
.features-section-info-heading{
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 45px;
    
}
.features-section-info> p{
    margin-bottom: 40px;
    margin-top: 20px;
}
.features-section-service{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.features-section-img img{
    width: 100%;

}
.experience{
    height: 200px;
    width: 350px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 999;
    position: relative;
}
.experience h1{
font-size: 65px;
}
.experience p{
font-size: 25px;
}
@media only screen and (max-width: 720px){
.features-section{
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 20px;
}
.features-section-info{
    padding-right: 0px;
    text-align: center;
}
.experience{
    height: 115px;
    width: 200px;
    margin-left: -10px;
}
.experience h1{
    font-size: 35px;
    }
    .experience p{
    font-size: 15px;
    }
}
/* Features section end here */

/* some facts section start here  */
.facts-section{
    margin-top: 60px;
}
.facts-section-info{
    padding-right: 800px;
}
.facts-section-info p{ 
    padding-top: 10px;
}
.facts-box{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  
}
.facts-box-info{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: margin 0.3s ease-in-out;
}
.facts-box-info > h1{
    padding: 15px 0px;
}
.facts-box-info:hover{
    margin-top: -5px;
    box-shadow: 0px 10px 10px #00000050;
}
@media only screen and (max-width: 720px){
.facts-section{
        padding: 0px 20px;
        text-align: center;
    }
.facts-box{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
.facts-section-info{
        padding-right: 0px;
    }
.facts-box-info{
    margin-bottom: 20px;
}
}
/* some facts section end here  */


/* our sponsors section start here */

.our-sponsors{
    margin-top: 60px;
    text-align: center;
}
.our-sponsors-info p{
    padding: 0px 200px;
}
.our-sponsors-logo{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter:grayscale(100%);
}
@media only screen and (max-width: 720px){
    .our-sponsors{
        padding: 0px 20px;
    }
    .our-sponsors-info p{
        padding: 0px 0px;
    }
    .our-sponsors-logo{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-sponsors-logo img{
        margin-bottom: 30px;
    }
}
/* our sponsors section end here */
/* main section end here  */